.login-container {
  background-color: var(--blue-bg);
  padding: 80px 0;
  border-radius: 8px;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-item-form h2{
  color: var(--pri-clr);
  font-weight: 600;
}

.login-item-form {
  width: 400px;
}
  
.login-item-form .login-form-group {
  margin-bottom: 1rem;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.auth-error {
  margin-top: 1rem;
}

.login-button{
  width: 100%;
  padding: 10px;
  background-color: var(--pri-clr);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.google-button {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.password-reset-button {
  display: block;
  text-align: right;
  margin-bottom: 15px;
}

.no-account {
  margin-top: 20px;
  text-align: center;
}


.signup-link {
  text-decoration: none;
  font-weight: 600;
  color: var(--pri-clr);
  margin-left: 5px;
}

.login-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.login-button:hover {
  background-color: #0056b3;
}