/* Store Container */

.store-section {
  padding: 40px 0;
  background-color: var(--blue-bg);
}

.store-container {
}

  
  .store-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .store-controls h1 {
    font-weight: 800;
    color: var(--pri-clr);
  }
  
  .store-search-filter {
    display: flex;
    gap: 10px;
  }
  
  .store-search {
    padding: 8px;
    width: 200px;
    border: 1px solid #eeee;
    border-radius: 5px;
  }
  
  .store-filter {
    padding: 8px;
    border: 1px solid #eeee;
    border-radius: 5px;
  }
  
  .store-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .store-product-card {
    border: 1px solid #eeee;
    border-radius: 5px;
    padding: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .store-product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .store-product-title {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    color: var(--pri-clr);
    font-weight: 700;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .store-product-card p {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #6b6b6b;
    text-align: center;
  }
  
  .btn-primary {
    display: inline-block;
    text-decoration: none;
    background-color: var(--pri-clr);
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  .btn-primary:hover {
    background-color: #251F98;
  }