.add-product-container {
  background-color: var(--blue-bg);
  padding: 80px 0;
  border-radius: 8px;
  width: 100%;
}

.add-product-container h2 {
  margin-bottom: 15px;
  color: #6b6b6b;
}

.add-product-form {
  width: 90%;
  margin: 0 auto;
}

.add-product-form .form-group {
  margin-bottom: 1rem;
}

.add-product-form input,
.add-product-form textarea,
.add-product-form select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.add-product-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.add-product-form textarea {
  resize: vertical;
  height: 80px;
}

.add-product-form .error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.add-product-button {
  width: 100%;
  padding: 10px;
  background-color: var(--pri-clr);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  font-weight: 600;
}

.add-product-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.add-product-button:hover {
  background-color: #0056b3;
}

.add-product-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.add-product-checkbox input {
  margin-right: 10px;
}

.add-product-checkbox label {
  font-size: 0.9rem;
  font-weight: 500;
}